# VARIABLES DE ENTORNO
.env
# INSTALACION DE MODULOS
node_modules
# CODIGO DE DESARROLLO
server
# CONFIGURACION DE NODEMON
nodemon.json
# CONFIGURACION DE TS
tsconfig.json
#CONFIGURACION DE VISUAL STUDIO CODE
app/.vscode
#INSTALACION DE MODULOS REACT JS
app/node_modules